/* ASSETS */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* GRID */

*, *:before, *:after {
  box-sizing: inherit;
}

.columns:before,
.columns:after {
 content:"";
 display:table;
}

.columns:after {
 clear:both;
}

.columns {
 zoom:1;
 overflow: hidden;
}

.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.column {
 float: left;
 white-space: nowrap;
}

.two.columns .column, .column-two {
 width: 50%;
}

.columns.three .column, .column-three {
 width: 33.33333%;
}

.four.columns .column, .column.column-four {
 width: 25%;
}

/* MAIN */

html {
  height: 100%;
}


body {
 /* background-image: url(/backgrounds/birdwoodpanel.jpg); */
  background-image: url(/backgrounds/mansiontrees.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  text-decoration: none;
}


/*  POSITIONAL - MIGHT NOT NEED  */


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


/* NAV MAIN */


.navtop {
  position: static;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.navtop-menu-links {
  font-family: 'Playfair Display';
  font-size: 25px;
  letter-spacing: .25em;
  margin-right: 98px;
  margin-top: 12px;
  float: right;
}

.navfooter {
  margin-left: 40px;
  margin-right: auto;
  text-align: center;
  letter-spacing: 2.0em;
  padding-top: 20px;
}

/* INDEX MAIN */

.main {
  height: auto;
  max-width: 100%;
  padding: 20px;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
  text-align: center;
}


.home-title-name {
  padding-top: 45px;
  font-family: 'Playfair Display', helvetica;
  font: 7em 'Playfair Display';
  text-align: center;
}

.home-title-title {
  font-family: 'Playfair Display', helvetica;
  text-align: center;
  font-size: 4.0em;
  padding-bottom: 65px;
}


/* PROJECTS */

.project-container {
  max-width: 1307px;
}

.project-title {
  font: 170px helvetica;
  line-height: 180px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

.project-picture {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid rgba(0, 0, 0, 0.4) 1px;
  opacity: 0.92;
}

.project-picture:hover {
  border: solid rgba(0, 0, 0, 0.8) 1.5px;
}

.project-description {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', helvetica;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 15px;
}

.project-icons {
  margin-left: 40px;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.9em;
}

.fa-laptop:hover {
  color: gray;
}

.fa-github:hover {
  color: gray;
}

.project-space {
  padding-top: 10px;
}

/* RESUME */

.job {
  text-align: center;
  max-width: 100%;
  margin-right: auto;
  margin-top: 75px;
  padding: 5px;
  margin-left: auto;
  opacity: 0.9997;

  /*background: rgba(0, 0, 0, 0.5);*/
  /*border: solid black 2px;*/
}
