/* GLOBAL */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Raleway);


*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

html {
  height: 100%;
}


body {
  /* background-image: url(/images/birdwoodpanel.jpg); */


   background-image: url(/images/mansiontrees.jpg);
/*    background-image: url(/images/birdwoodpanel.jpg);
 */
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
  /* margin: 1px; */
}

ul {
  vertical-align: middle;
  display: inline;
  float: right;
  list-style-type: none;
}

li {
  padding: 25px;
  text-decoration: none;
  letter-spacing: .07em;
}


/* GRID */

.columns:before,
.columns:after {
 content:"";
 display:table;
}
.columns:after {
 clear:both;
}
.columns {
 zoom:1;
 overflow: hidden;
}

.column {
 float: left;
 white-space: nowrap;
}

.two.columns .column, .column-two {
 width: 50%;
}

.columns.three .column, .column-three {
 width: 33.33333%;
}

.four.columns .column, .column.column-four {
 width: 25%;
}

/*  Positional */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


h2 {
  text-align: center;
  font-style: strong;
/*   font-family: Helvetica, Verdana, Arial, sans-serif; */
  /*   color: red;  */
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

h4 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-style: oblique;
}

h5 {
  font-size: 26px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

a {
/*   font-family: Helvetica, Verdana, Arial, sans-serif; */
  display: inline-block;
  text-decoration: none;
}

/* .header {
  text-align: center;
  background: #F1ECEE;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px 5px 5px;
} */

 .container {
/*   width: 100%; */
  margin-left: 50px;
  margin-right: 50px;
  /* background: #B0B9A9; */
  border: 1px solid black;
  /* border-radius: 5px 5px 5px; */
  /* background-color: rgba(181, 200, 188, 0.92); #213A37 #AD9E9B;  background:-webkit-gradient(linear, 80% 20%, 10% 89%, from(#00ECE9), to(#0040C1)) */
}

/* NAV MAIN */

.navtop-name {
  font-family: 'Playfair Display', sans-serif;
  display: inline-block;
  font-size: 50px;
  vertical-align: middle;
  letter-spacing: .07em;
}

.navtop-menu-links {
  float: right;
  margin-top: 35px;
  display: inline-block;
  font-family: 'Playfair Display', sans-serif;
  font-size: 35px;
}

.navtop {
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  /* border-radius: 5px 5px 5px; */
  /* background: red; */
}

/* .nav-top-menu width: {
  display: inline-block;
  text-align: center;
  background: blue;
} */

.navfooter {
  margin-left: 80px;
  margin-right: 80px;

  text-align: center;
  background: #F1ECEE;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  /* border-radius: 5px 5px 5px; */
}

/* INDEX MAIN */

.main {
  height: auto;
  border: solid 1px;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'Raleway Light', sans-serif;
  color: white;
  /* border-radius: 5px 5px 5px; */
  /* background-image: url(/images/birdwoodpanel.jpg); */

  /* background-image: no-repeat;
  background-position: center;
  background-size: cover; */

}

/* PROJECTS */

 .video {
  text-align: center;
  background: orange;
  background: rgba(0, 0, 0, 0.5);
}

.project-header {
  font: 170px helvetica;
  line-height: 180px;
  height: 190px;
  font-weight: 700;
  color: #000;
  letter-spacing: -.04em;
  position: absolute;
  top: 50%;
  left: -3.75%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  /* text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black; */

}

/* RESUME */

.job {
  background: white;
  border: solid black 1px;
  margin: 20px;
  border-radius: 5px 5px 5px;
  padding: 5px;
}

.test {
  text-align: center;
  background: green;
}

.textz {
  text-align: center;
  font-size: 15px;
  background: blue;
}
