

<div class="container">
  <!-- <div class="header">
  </div> -->
      <div class="navtop">
        <div class="navtop-name">
          Stephen Prill
        </div>
          <!-- <div class="navtop-menu-links"> -->
            <ul>
              {{#link-to 'index'}}
                <li>Home</li>
              {{/link-to}}


              {{#link-to 'projects'}}
                <li>Projects</li>
              {{/link-to}}


              {{#link-to 'resume'}}
                <li>Resume</li>
              {{/link-to}}
            </ul>
          <!-- </div> -->
      </div>


      {{outlet}}

      <div class="navfooter">
        {{#link-to 'index'}}
          Home
        {{/link-to}}
        |

        {{#link-to 'projects'}}
          Projects
        {{/link-to}}
        |

        {{#link-to 'resume'}}
          Resume
        {{/link-to}}
      </div>

</div>
