<div class="navtop">
  <div class="navtop-name">
    <!-- <i class="fa fa-pied-piper-alt fa-2x"></i> -->
  </div>

  <div class="navtop-menu-links">
    <ul>
      {{#link-to 'index'}}
        <li>Home</li> |
      {{/link-to}}


      {{#link-to 'projects'}}
        <li>Projects</li> |
      {{/link-to}}


      {{#link-to 'resume'}}
        <li>Resume</li>
      {{/link-to}}
    </ul>
  </div>
</div>


{{outlet}}


<div class="navfooter">

  <a href="https://www.github.com/stephenprill" target="_blank">
    <i class="fa fa-github-square fa-3x"></i></a>

  <a href="https://linkedin.com/in/stephenprill/en" target="_blank">
    <i class="fa fa-linkedin-square fa-3x"></i></a>

  <a href="https://www.twitter.com/stephenprill" target="_blank">
    <i class="fa fa-twitter-square fa-3x"></i></a>

  <a href="https://www.instagram.com/prillionaire" target="_blank">
    <i class="fa fa-instagram fa-3x"></i></a>

</div>
