

<div class="container">
  <!-- <div class="header">
  </div> -->
      <div class="navtop">
        <div class="navtop-name">
          Stephen Prill
        </div>
          <div class="navtop-menu-links">
            <ul>
              {{#link-to 'index'}}
                <li>Home</li>
              {{/link-to}}


              {{#link-to 'projects'}}
                <li>Projects</li>
              {{/link-to}}


              {{#link-to 'resume'}}
                <li>Resume</li>
              {{/link-to}}
            </ul>
          </div>
      </div>


      {{outlet}}

      <div class="navfooter">
        
        <img src="/icons/github64.png" alt="" />
      </div>

</div>
