

<div class="container">
  <!-- <div class="header">
  </div> -->
      <div class="navtop">
        <div class="navtop-name">
          Stephen Prill
        </div>
          <div class="navtop-menu-links">
            {{#link-to 'index'}}
              Home
            {{/link-to}}
            |

            {{#link-to 'projects'}}
              Projects
            {{/link-to}}
            |

            {{#link-to 'resume'}}
              Resume
            {{/link-to}}
          </div>
      </div>


      {{outlet}}

      <div class="navfooter">
        {{#link-to 'index'}}
          Home
        {{/link-to}}
        |

        {{#link-to 'projects'}}
          Projects
        {{/link-to}}
        |

        {{#link-to 'resume'}}
          Resume
        {{/link-to}}
      </div>

</div>
