<div class="navtop">

    <div class="navtop-menu-links">
      <ul>
        {{#link-to 'index'}}
          <li>Home</li> |
        {{/link-to}}


        {{#link-to 'projects'}}
          <li>Projects</li> |
        {{/link-to}}


        {{#link-to 'resume'}}
          <li>Resume</li>
        {{/link-to}}
      </ul>
    </div>

    <div class="navfooter">
      <ul>
      <a href="https://www.github.com/stephenprill" target="_blank">
        <i class="fa fa-github-square fa-2x"></i></a>

      <a href="https://linkedin.com/in/stephenprill/en" target="_blank">
        <i class="fa fa-linkedin-square fa-2x"></i></a>

      <a href="https://www.twitter.com/stephenprill" target="_blank">
        <i class="fa fa-twitter-square fa-2x"></i></a>

      <a href="https://www.instagram.com/prillionaire" target="_blank">
        <i class="fa fa-instagram fa-2x"></i></a>
      </ul>
    </div>

  </div>


{{outlet}}
