

<div class="container">
  <!-- <div class="header">
  </div> -->
      <div class="navtop">
        <div class="navtop-name">
          Stephen Prill
        </div>


          <div class="navtop-menu-links">
            <ul>
              {{#link-to 'index'}}
                <li>Home</li>
              {{/link-to}}


              {{#link-to 'projects'}}
                <li>Projects</li>
              {{/link-to}}


              {{#link-to 'resume'}}
                <li>Resume</li>
              {{/link-to}}
            </ul>
          </div>
      </div>


      {{outlet}}

      <div class="navfooter">
        <a href="https://www.github.com/stephenprill" target="_blank">
        <img src="/icons/github64.png" alt="Git Hub" /></a>

        <a href="https://linkedin.com/in/stephenprill/en" target="_blank">
        <img src="/icons/linkedin64.png" alt="LinkedIn" /></a>

        <a href="https://www.twitter.com/stephenprill" target="_blank">
        <img src="/icons/twitter64.png" alt="Twitter" /></a>

        <a href="https://www.instagram.com/prillionaire" target="_blank">
        <img src="/icons/instagram64.png" alt="Instagram" /></a>
        <!-- <img src="/icons/email64.png" alt="" /> -->
<!--
        <img src="/icons/tumblr64.png" alt="" />
        <img src="/icons/youtube64.png" alt="" />
        <img src="/icons/googleplus64.png" alt="" />
        <img src="/icons/twitch64.png" alt="" />
        <img src="/icons/lastfm64.png" alt="" />
        <img src="/icons/facebook64.png" alt="" /> -->
      </div>

</div>
