  <div class="main">
    <h2>Student at gSchool</h2>

      font-family: Gill Sans Extrabold, sans-serif
      font-family: "Goudy Bookletter 1911", sans-serif

      font-family: sans-serif
      font-family: serif
      font-family: fantasy
      font-family: cursive
      font-family: monospace

      font-family: inherit
      Values
      <br><br>


    	The name of a font family. For example, "Times" and "Helvetica" are font families. Font family names containing whitespace should be quoted.

          Generic font families are a fallback mechanism, a means of preserving some of the style sheet author's intent in case when none of the specified fonts are available. Generic family names are keywords and must not be quoted. A generic font family should be the a last alternative in the list of font family names.

          serif
          Glyphs have finishing strokes, flared or tapering ends, or have actual serifed endings.
          E.g.  Palatino, "Palatino Linotype", Palladio, "URW Palladio", serif
          sans-serif
          Glyphs have stroke endings that are plain.
          E.g. 'Trebuchet MS', 'Liberation Sans', 'Nimbus Sans L', sans-serif
          monospace

      <br><br>
          All glyphs have the same fixed width.
          E.g. "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace
          cursive
          Glyphs in cursive fonts generally have either joining strokes or other cursive characteristics beyond those of italic typefaces. The glyphs are partially or completely connected, and the result looks more like handwritten pen or brush writing than printed letterwork.
          fantasy
          Fantasy fonts are primarily decorative fonts that contain playful representations of characters.


  </div>
