<div class="main">

  <div class="project-container">
    <div class="project-title">

    {{#each project in model}}
      <a {{bind-attr href=project.url}} target="_blank">
          <img class="project-picture"{{bind-attr src=project.images}}/>
      </a>
    {{/each}}

    </div>
  </div>

</div>


{{outlet}}
